
<h1> Application Decision </h1>

<% @pets.each do |pet| %>
  <p><b><%= pet.name %></b></p>    
<%= button_to "Approve", "admin/adopt_apps/#{@adopt_app.id}", form: {style: 'display:inline-block;'}, method: :patch, params: {pet_id: pet.id} %>
<%= button_to "Reject", "admin/adopt_apps/#{@adopt_app.id}", form: {style: 'display:inline-block;'}, method: :patch, params: {pet_id: pet.id} %>




  <% end %>